@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('/assets/caviar_dreams_bold-webfont.eot');
    src: url('/assets/caviar_dreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviar_dreams_bold-webfont.woff2') format('woff2'),
         url('/assets/caviar_dreams_bold-webfont.woff') format('woff'),
         url('/assets/caviar_dreams_bold-webfont.ttf') format('truetype'),
         url('/assets/caviar_dreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('/assets/caviardreams_bolditalic-webfont.eot');
    src: url('/assets/caviardreams_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('/assets/caviardreams_bolditalic-webfont.woff') format('woff'),
         url('/assets/caviardreams_bolditalic-webfont.ttf') format('truetype'),
         url('/assets/caviardreams_bolditalic-webfont.svg#caviar_dreamsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('/assets/caviardreams_italic-webfont.eot');
    src: url('/assets/caviardreams_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviardreams_italic-webfont.woff2') format('woff2'),
         url('/assets/caviardreams_italic-webfont.woff') format('woff'),
         url('/assets/caviardreams_italic-webfont.ttf') format('truetype'),
         url('/assets/caviardreams_italic-webfont.svg#caviar_dreamsitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('/assets/caviardreams-webfont.eot');
    src: url('/assets/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviardreams-webfont.woff2') format('woff2'),
         url('/assets/caviardreams-webfont.woff') format('woff'),
         url('/assets/caviardreams-webfont.ttf') format('truetype'),
         url('/assets/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url('/assets/amatic-bold-webfont.eot');
    src: url('/assets/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/amatic-bold-webfont.woff2') format('woff2'),
         url('/assets/amatic-bold-webfont.woff') format('woff'),
         url('/assets/amatic-bold-webfont.ttf') format('truetype'),
         url('/assets/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('amaticsc-regular-webfont.eot');
    src: url('/assets/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/amaticsc-regular-webfont.woff2') format('woff2'),
         url('/assets/amaticsc-regular-webfont.woff') format('woff'),
         url('/assets/amaticsc-regular-webfont.ttf') format('truetype'),
         url('/assets/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}