<% @attractions.each do |attraction| %>
  <div>
    <h1><%= attraction.name %></h1><br />
    <i><%= attraction.address %></i><br />
    <p><%= attraction.description %></p><br />
  </div>

  <hr />
<% end %>